# come back to this. Need redux to change username udf var
#[authentication]
#username = user_user
#password = $pass

[connection]
ssl = true
factory = cqlshlib.ssl.ssl_transport_factory
[ssl]
certfile= /etc/cassandra/ssl/ca-crt
userkey = {{ cassandra_ssl_path }}/{{ cassandra_data.server[count].instance.hostname }}{{ count + 1 }}.key
usercert = {{ cassandra_ssl_path }}/{{ cassandra_data.server[count].instance.hostname }}{{ count +1 }}.crt
validate = true